<robot name="obj_4" version="1.0">
  <link name="obj_4_link">
    <collision name="obj_4_collision_1">
      <origin rpy="-1.57080 -0.00000 1.57080" xyz="-0.62124 0.86023 1.82761"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.011.obj" scale="0.53984 0.52905 0.53984"/>
      </geometry>
    </collision>
    <collision name="obj_4_collision_2">
      <origin rpy="-1.57080 -0.00000 1.57080" xyz="-0.62124 0.86000 0.19990"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.012.obj" scale="0.53984 0.52905 0.53984"/>
      </geometry>
    </collision>
    <collision name="obj_4_collision_3">
      <origin rpy="-1.57080 -0.00000 1.57080" xyz="-0.51996 0.86035 1.01448"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.013.obj" scale="1.07969 3.28225 0.53984"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.56523" ixy="-0.00000" ixz="-0.00000" iyy="0.04113" iyz="0.00000" izz="0.55966"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.57669 0.86138 1.01378"/>
      <mass value="5.00000"/>
    </inertial>
    <visual name="obj_4">
      <material name="turnarrow"/>
      <origin rpy="-1.57080 -0.00000 1.57080" xyz="-0.57669 0.86138 1.01378"/>
      <geometry>
        <mesh filename="../meshes/obj/luban-lock-sliding.003.obj" scale="0.02699 0.02699 0.02699"/>
      </geometry>
    </visual>
  </link>
  <material name="turnarrow">
    <color rgba="0.23137 0.44706 0.80000 1.00000"/>
  </material>
</robot>