<robot name="obj_5" version="1.0">
  <link name="obj_5_link">
    <collision name="obj_5_collision_1">
      <origin rpy="-0.00000 -0.00000 -3.14159" xyz="-0.82504 1.87792 0.61073"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.014.obj" scale="0.53984 0.52905 0.53984"/>
      </geometry>
    </collision>
    <collision name="obj_5_collision_2">
      <origin rpy="-0.00000 -0.00000 -3.14159" xyz="-0.82481 0.25021 0.61073"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.015.obj" scale="0.53984 0.52905 0.53984"/>
      </geometry>
    </collision>
    <collision name="obj_5_collision_3">
      <origin rpy="0.00000 -0.00000 -3.14159" xyz="-0.82516 1.06479 0.50946"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.016.obj" scale="1.07969 3.28225 0.53984"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.56523" ixy="-0.00000" ixz="-0.00000" iyy="0.04113" iyz="0.00000" izz="0.55966"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.82502 1.06409 0.56619"/>
      <mass value="5.00000"/>
    </inertial>
    <visual name="obj_5">
      <material name="turnarrow"/>
      <origin rpy="-0.00000 -0.00000 -3.14159" xyz="-0.82502 1.06409 0.56619"/>
      <geometry>
        <mesh filename="../meshes/obj/luban-lock-sliding.004.obj" scale="0.02699 0.02699 0.02699"/>
      </geometry>
    </visual>
  </link>
  <material name="turnarrow">
    <color rgba="0.23137 0.44706 0.80000 1.00000"/>
  </material>
</robot>