<robot name="pagoda-setup" version="1.0">
  <joint name="base_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="platform_link"/>
  </joint>
  <joint name="pole_10_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.010_link"/>
  </joint>
  <joint name="pole_19_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.019_link"/>
  </joint>
  <joint name="pole_1_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.001_link"/>
  </joint>
  <joint name="pole_20_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.020_link"/>
  </joint>
  <joint name="pole_21_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.021_link"/>
  </joint>
  <joint name="pole_2_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.002_link"/>
  </joint>
  <joint name="pole_3_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.003_link"/>
  </joint>
  <joint name="pole_4_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.004_link"/>
  </joint>
  <joint name="pole_5_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.005_link"/>
  </joint>
  <joint name="pole_6_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.006_link"/>
  </joint>
  <joint name="pole_7_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.007_link"/>
  </joint>
  <joint name="pole_11_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.011_link"/>
  </joint>
  <joint name="pole_8_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.008_link"/>
  </joint>
  <joint name="pole_9_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.009_link"/>
  </joint>
  <joint name="roof_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Roof_link"/>
  </joint>
  <joint name="pole_12_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.012_link"/>
  </joint>
  <joint name="pole_13_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.013_link"/>
  </joint>
  <joint name="pole_14_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.014_link"/>
  </joint>
  <joint name="pole_15_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.015_link"/>
  </joint>
  <joint name="pole_16_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.016_link"/>
  </joint>
  <joint name="pole_17_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.017_link"/>
  </joint>
  <joint name="pole_18_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Pole.018_link"/>
  </joint>
  <link name="base_link"/>
  <link name="platform_link">
    <collision name="Base_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.26000 0.26000 0.02501"/>
      <geometry>
        <box size="0.50000 0.50000 0.05000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="2.10417" ixy="0.00000" ixz="0.00000" iyy="2.10417" iyz="0.00000" izz="4.16667"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.26000 0.26000 0.02501"/>
      <mass value="100.00000"/>
    </inertial>
    <visual name="Base">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.26000 0.26000 0.02501"/>
      <geometry>
        <mesh filename="../meshes/stl/Cube.001.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.018_link">
    <collision name="Pole.018_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.54837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.54837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.018">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.54837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.019_link">
    <collision name="Pole.019_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.54837 0.54558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.54837 0.54558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.019">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.54837 0.54558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.001_link">
    <collision name="Pole.001_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.03837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.03837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.001">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.03837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.020_link">
    <collision name="Pole.020_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.54837 0.51558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.54837 0.51558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.020">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.54837 0.51558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.021_link">
    <collision name="Pole.021_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.54837 0.48558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.54837 0.48558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.021">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.54837 0.48558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.002_link">
    <collision name="Pole.002_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.06837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.06837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.002">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.06837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.003_link">
    <collision name="Pole.003_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.09837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.09837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.003">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.09837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.004_link">
    <collision name="Pole.004_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.12837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.12837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.004">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.12837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.005_link">
    <collision name="Pole.005_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.15837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.15837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.005">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.15837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.006_link">
    <collision name="Pole.006_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.18837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.18837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.006">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.18837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.010_link">
    <collision name="Pole.010_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.30837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.30837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.010">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.30837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.007_link">
    <collision name="Pole.007_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.21837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.21837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.007">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.21837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.008_link">
    <collision name="Pole.008_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.24837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.24837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.008">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.24837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.009_link">
    <collision name="Pole.009_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.27837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.27837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.009">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.27837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Roof_link">
    <collision name="Roof_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.75738 0.27626 0.06643"/>
      <geometry>
        <mesh filename="../meshes/stl/geometry_0.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.02226" ixy="0.00000" ixz="0.00003" iyy="0.03015" iyz="-0.00003" izz="0.04745"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.75683 0.27558 0.04181"/>
      <mass value="2.00000"/>
    </inertial>
    <visual name="Roof">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.75685 0.27574 0.05200"/>
      <geometry>
        <mesh filename="../meshes/stl/Cube.002.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.011_link">
    <collision name="Pole.011_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.33837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.33837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.011">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.33837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.012_link">
    <collision name="Pole.012_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.36837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.36837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.012">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.36837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.013_link">
    <collision name="Pole.013_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.39837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.39837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.013">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.39837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.014_link">
    <collision name="Pole.014_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.42837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.42837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.014">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.42837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.015_link">
    <collision name="Pole.015_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.45837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="-0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.45837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.015">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.45837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.016_link">
    <collision name="Pole.016_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.48837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.48837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.016">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.48837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="Pole.017_link">
    <collision name="Pole.017_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.51837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00858" ixy="0.00000" ixz="0.00000" iyy="0.00858" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.51837 0.57558 0.05000"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="Pole.017">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.51837 0.57558 0.05000"/>
      <geometry>
        <cylinder radius="0.01000" length="0.10000"/>
      </geometry>
    </visual>
  </link>
</robot>